.Profile {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 64px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 300px;
    gap: 16px;
}
.menu-item {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 16px;
}
