.Profile {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 64px;
    padding: 60px 42px 22px 43px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 300px;
    gap: 16px;
}
a {
    text-decoration: none;
    color: "#FAFAFA" !important;
}
a:active {
    color: "#FAFAFA";
}
.menu-item {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 16px;
    color: "#FAFAFA";
    font-family: Roboto;
}
