
.SpecialtyCard{
    width: 101px;
  height: 101px;
  display: flex;
  padding: 14px 11px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 16px;
  background-color: #FAFAFA;
}

.SpecialtyName{
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
}

.BoxContainer{
    width: 343px;
    padding: 24px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FAFAFA;
    border-radius: 16px;
}
.BoxContainerRightSide{
    display: flex;
    gap: 8px;
    align-items: flex-start;
    flex-direction: column;
}
.AiDocAvatar{
    width: 95px;
    height: 102px;
}

.StartConversation{
    display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  padding: 12px 35px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  background-color: #00A859;
  border: none;
}

.SubHeaderInBox{
    color: #858585;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.BoxHeader{
    color: #00A859;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}