
.headerContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px 5px;
  }
  
  .profileImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #FAFAFA;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .welcomeText {
    color: #FAFAFA;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  
  .nameText {
    color: #FAFAFA;;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  