
.navBarContainer {
  position: fixed;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 375px;
  padding: 22px 56px;
  background-color: lightblue;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 22px;
 
  }
  
  /* .logoContainer {
   
  } */
  
  .logoIcon {
    font-size: 32px;
    color: #fff;
  }
  
  .chatIconContainer {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 10px solid #fff;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px; 
  }
  
  .chatIcon {
    font-size: 32px;
    color: #ccc;
  }
  
  .listIcon {
    font-size: 32px;
    color: #ccc;
  }
  